/*h1, h2 {
  text-align: center;
}*/

.error-message {
  color: #FF0000;
}

.success-message {
  color: #7FFFD4;
}

.column {
  max-width: 550px;
}

#add_symptoms_form {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

#add_symptoms_form h3 {
  font-family: 'Inconsolata', monospace;
}


/* semantic-ui override */
#add_symptoms_form .grouped.inline.fields {
  margin-top: 30px;
}

#flex_container {
  display: flex;
  flex-flow: column wrap;
  max-height: 1500px;
}
